<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Boorish</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/boorish.css')}}">
</head>
<body>
	<div class="hero">
		<div class="navbar">
		<a href="nexts"><img src="{{ url_for('static', filename='images/next-removebg-preview.png')}}" style="height:70px;width:70px" ></a>
		</div>
		<div class="content">
		<h2>BOORISH <br> WORDS</h2><br>
		</div>
		<div class="definition">
		<p> Boorish words represent ill-mannered, <br>coarse and contemptible <br>in behavior or appearance</p><br>
		<p>In this project, it defines the toxic comments <br>present in social media.</p>
		</div>
		<div class="bubbles">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
			<img src="{{ url_for('static', filename='images/bubble.png')}}">
		</div>
		
	</div>
	
</body>
</html>
	