<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nlp.css')}}">
</head>
<body>
	<div class="container">
		<div class="good">
		<img src="fullnlp-removebg-preview.png"><br>
			<h2>NATURAL LANGUAGE PROCESSING</h2><br>
			<p>Natural language processing (NLP) refers to the branch of computer science, and more specifically, the branch of artificial intelligence or AI, concerned with giving computers the ability to understand text and spoken words in much the same way human beings can.
			</p><br>
			<p>Examples: Alexa, Siri</p><br>
			<div class="navbar">
			<a href="sentiment"><img src="{{ url_for('static', filename='images/next-removebg-preview.png')}}" style="height:50px;width:50px;float:right" ></a>
			</div>
			<div class="best">
			<a href="/"><img src="{{ url_for('static', filename='images/pre.png')}}" style="height:50px;width:50px;float:left" ></a>
			</div>
		</div>
	</div>
		
</body>
</head>
